.header-color {
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.contact {
  background: #2b5876;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100%;
height: 100%;
}
.home{
background: #003973;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E5E5BE, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: auto;
height: auto;

}
.footer_connect_link, .footer_contact_link {
  color: #9b9b9b;
  font-size: 16px;
  font-size: 1.14286rem;
  display: inline-block;
  -webkit-transition: all 0s ease;
  -moz-transition: all 0s ease;
  -ms-transition: all 0s ease;
  -o-transition: all 0s ease;
  transition: all 0s ease;
}
#serviceBanner {
  background-color: rgba(0,0,0,.7);
  margin-top: 132px;
  padding: 20px;
}
.service_banner_text-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  padding-top: 4%;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;  
}
#trees__tree {  
    
    width:"100%";
    height:"100%";
    background: "url(" + "http://www.getmdl.io/assets/demos/transparent.jpg" + ")";
}
.gLFyf {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  color: rgba(0,0,0,.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  -webkit-tap-highlight-color: transparent;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header-font {
  font-family: 'Font Name', Andika;
  }
.company-font {
font-family: 'Font Name', Cutive;
}
.description-font {
  font-family: 'Font Name', Montserrat;
  }

  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }
  
  @media(min-width: 1024px) {
     .app-fab--absolute {
      bottom: 1.5rem;
      right: 1.5rem;
    }
  }
 
